# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

## 建立 DataFrame 方法一

In [4]:
data = {'國家':['Taiwan','Japan','Korea','America','Austrulia'] ,
        '人口':['1234134','1345145','453452','562451','456246']}
data1 = pd.DataFrame(data)
print(data1)

          國家       人口
0     Taiwan  1234134
1      Japan  1345145
2      Korea   453452
3    America   562451
4  Austrulia   456246

## 建立 DataFrame 方法二

In [11]:
countries = ['Taiwan','Japan','Korea','America','Austrulia']
population = np.random.randint(1000000000, size=5)
print(population)

[937735787 111963873 214195616 433475333 461867606]

In [12]:
list_labels = ['countries','population']
list_cols = [countries, population]

zipped = list(zip(list_labels, list_cols))
print(zipped)

[('countries', ['Taiwan', 'Japan', 'Korea', 'America', 'Austrulia']), ('population', array([937735787, 111963873, 214195616, 433475333, 461867606]))]

In [16]:
data2 = pd.DataFrame(dict(zipped))
print(data2)

   countries  population
0     Taiwan   937735787
1      Japan   111963873
2      Korea   214195616
3    America   433475333
4  Austrulia   461867606

In [26]:
data2.sort_values(by = 'population')

   countries  population
1      Japan   111963873
2      Korea   214195616
3    America   433475333
4  Austrulia   461867606
0     Taiwan   937735787